<script type="text/template" id="example-template">
  <h1 class="icon-pen">WantToReadAEnglish</h1>
  <ul></ul>
  <a href="#" class="js-add-text add icon-plus"></a>
</script>

<script type="text/template" id="text-add-template">
<h1>
  <a href="#" class="icon-undo">Go back to text List</a>
</h1>
<div class="main-box add-form">
  <h2 class="icon-plus">Data Adds</h2>
  <input type="text" name="title" class="title" placeholder="Title">
  <textarea name="text" class="text-content" placeholder="Please add the text you want to read"></textarea>
  <input type="button" class="js-add-eng-text" value="Add">
</div>
</script>

<script type="text/template" id="text-detail-template">
  <h1>
     <a href="#" class="icon-undo">Go back to text List</a>
  </h1>
  <span class="menu icon-menu js-menu"></span>
  <div class="main-box detail">
    <h2 class="icon-{{status}} nico-status">{{title}}</h2>
    <span class="main-text js-main-text">{= text =}</span>
  </div>
  <a href="#" class="js-add-word word add icon-plus"></a>
</script>

<script type="text/template" id="app-template">
  {{title}}
</script>
