<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script src="/js/contents_all.js"></script>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <title>WantToReadAEnglish</title>
</head>
<body>
  <div class="js-page-layout">
    <span class="js-main"></span>
  </div>
</body>

<%= partial 'marionette_tmpl' %>
<%= partial 'modal' %>

<script>
  $(function(){
    Apps.start();
  });
</script>

</html>
